<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Home Page</h1>
      <a href="/users/register"><button class="btn">Register</button></a>
      <a href="/users/login"><button class="btn">Login</button></a>
    </div>
  </body>
</html>
